@font-face {
  font-family: 'VCR OSD Mono';
  src: url('../fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'VCR OSD Mono', monospace;
}

body {
  background: #fff;
  color: #111;
  line-height: 1.6;
}

header, .topbar {
  border-bottom: 6px solid #444;
  padding: 16px 0;
  display: flex;
  justify-content: center;
}

header img, .logo-container img {
  max-width: 400px;
  cursor: pointer;
}

.hero {
  padding: 40px 6vw;  /* top/bottom = 40px, left/right = 6vw */
  min-height: auto;
}


.hero p {
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 50px;
}

.sources-grid {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 6vw;
}

.sources-grid ul {
  list-style: none;
  font-size: 26px;
  font-weight: 700;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 6px solid #444;
  padding: 20px 6vw;
  gap: 16px;
  height: auto;
}

.nav {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.nav a.nav-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 64px;
  border: 3px solid #444;
  background: #fff;
  font-size: 22px;
  font-weight: 800;
  text-decoration: none;
  color: #111;
  font-family: 'VCR OSD Mono', monospace;
  cursor: pointer;
}

.nav a.nav-button:hover {
  background: #444;
  color: #fff;
}

footer .copyright {
  color: #bbb;
  font-size: 26px;
  font-weight: 800;
  text-align: center;
}

p {
  text-align: justify;
}

p.factionText, li.factionMemberList {
  font-size: 1.3rem;
  text-align: justify;
}

div.faction {
  border: 5px solid #444;
  padding: 30px;
  margin: 40px 6vw;
}

.factionFlag {
  display: block;
  margin: auto;
  height: 300px;
  width: auto;
}